<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.appjam19">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ClassInfoActivity"
        android:label="기타장인 할머니의 클래스"
        android:parentActivityName=".activity.ClassDetailActivity">
        </activity>
        <activity
                android:name=".activity.CompleteActivity"
                android:theme="@style/NoTitle">
        </activity>
        <activity
                android:name=".activity.RegisterTallentActivity"
                android:label="나의 재능 등록"
                android:parentActivityName=".activity.MyTallentActivity">
        </activity>
        <activity
                android:name=".activity.MyTallentActivity"
                android:label="나의 재능 나눔"
                android:parentActivityName=".activity.ProfileActivity">
        </activity>
        <activity
                android:name=".activity.ClassDetailActivity"
                android:label="기타장인 할머니의 클래스"
                android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
                android:name=".activity.SplashActivity"
                android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.IntroduceActivity"
                android:theme="@style/NoTitle">
        </activity>
        <activity
                android:name=".activity.RegisterActivity"
                android:label="회원가입"
                android:parentActivityName=".activity.IntroduceActivity">
        </activity>
        <activity
                android:name=".activity.LoginActivity"
                android:label="로그인"
                android:parentActivityName=".activity.IntroduceActivity">
        </activity>
        <activity
                android:name=".activity.ProfileActivity"
                android:theme="@style/NoTitle">
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:theme="@style/NoTitle">
        </activity>
    </application>

</manifest>